soap/src/test/resources/NAWebServiceSoapHttpPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://na.webservices.reseptformidleren.ergo.no/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NAWebServiceService" targetNamespace="http://na.webservices.reseptformidleren.ergo.no/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://na.webservices.reseptformidleren.ergo.no/types/" version="1.0">

  <xs:element name="dokument" type="xs:anyType"/>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://na.webservices.reseptformidleren.ergo.no/types/" xmlns="http://na.webservices.reseptformidleren.ergo.no/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://na.webservices.reseptformidleren.ergo.no/" version="1.0">
  <xs:import namespace="http://na.webservices.reseptformidleren.ergo.no/types/"/>
  <xs:complexType name="MV">
    <xs:sequence>
      <xs:element ref="ns1:dokument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppRec">
    <xs:sequence>
      <xs:element ref="ns1:dokument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="M9na1">
    <xs:sequence>
      <xs:element ref="ns1:dokument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="M9na2">
    <xs:sequence>
      <xs:element ref="ns1:dokument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="M9na3">
    <xs:sequence>
      <xs:element ref="ns1:dokument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="M9na4">
    <xs:sequence>
      <xs:element ref="ns1:dokument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppRecFault" type="AppRecFault"/>
  <xs:complexType name="AppRecFault">
    <xs:sequence>
      <xs:element name="dokument" type="xs:anyType"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MVElement" nillable="true" type="MV"/>
  <xs:element name="AppRecElement" nillable="true" type="AppRec"/>
  <xs:element name="M9na1Element" nillable="true" type="M9na1"/>
  <xs:element name="M9na2Element" nillable="true" type="M9na2"/>
  <xs:element name="M9na3Element" nillable="true" type="M9na3"/>
  <xs:element name="M9na4Element" nillable="true" type="M9na4"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="NAWebService_m9na3Response">
    <wsdl:part element="tns:M9na4Element" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NAWebService_verify">
    <wsdl:part element="tns:MVElement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NAWebService_verifyResponse">
    <wsdl:part element="tns:AppRecElement" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NAWebService_m9na1">
    <wsdl:part element="tns:M9na1Element" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppRecFault">
    <wsdl:part element="tns:AppRecFault" name="AppRecFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NAWebService_m9na1Response">
    <wsdl:part element="tns:M9na2Element" name="result">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NAWebService_m9na3">
    <wsdl:part element="tns:M9na3Element" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NAWeb">
    <wsdl:operation name="NAWebService_verify">
      <wsdl:input message="tns:NAWebService_verify" name="NAWebService_verify">
    </wsdl:input>
      <wsdl:output message="tns:NAWebService_verifyResponse" name="NAWebService_verifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NAWebService_m9na1">
      <wsdl:input message="tns:NAWebService_m9na1" name="NAWebService_m9na1">
    </wsdl:input>
      <wsdl:output message="tns:NAWebService_m9na1Response" name="NAWebService_m9na1Response">
    </wsdl:output>
      <wsdl:fault message="tns:AppRecFault" name="AppRecFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NAWebService_m9na3">
      <wsdl:input message="tns:NAWebService_m9na3" name="NAWebService_m9na3">
    </wsdl:input>
      <wsdl:output message="tns:NAWebService_m9na3Response" name="NAWebService_m9na3Response">
    </wsdl:output>
      <wsdl:fault message="tns:AppRecFault" name="AppRecFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NAWebServiceServiceSoapBinding" type="tns:NAWeb">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NAWebService_verify">
      <soap:operation soapAction="Verify" style="document"/>
      <wsdl:input name="NAWebService_verify">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NAWebService_verifyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NAWebService_m9na1">
      <soap:operation soapAction="M9na1" style="document"/>
      <wsdl:input name="NAWebService_m9na1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NAWebService_m9na1Response">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AppRecFault">
        <soap:fault name="AppRecFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NAWebService_m9na3">
      <soap:operation soapAction="M9na3" style="document"/>
      <wsdl:input name="NAWebService_m9na3">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NAWebService_m9na3Response">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AppRecFault">
        <soap:fault name="AppRecFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NAWebServiceService">
    <wsdl:port binding="tns:NAWebServiceServiceSoapBinding" name="NAWebPort">
      <soap:address location="http://rf.test1-na-int.reseptformidleren.net/NA/NAWebServiceSoapHttpPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>